* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}

#main {
    position: relative;
    overflow: hidden;
}

.page {
    position: relative;
    height: 120vh;
    width: 100vw;
    /* background-color: #002994; */
}

.page > .nav {
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    max-height: 30%;
    width: 100%;
    z-index: 9;
}
.page > .nav img {
    position: fixed;
    display: flex;
    align-items: center;
    top: 1%;
    z-index: 9;
}

.page > .nav > .center-nav ul {
    display: flex;
    gap: 32px;
}

.page > .nav > .center-nav ul li {
    list-style: none;
}

.page > .nav > .center-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.page > .nav > button {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #FF9900;
    cursor: pointer;
}

.page > .animated-name-header {
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 280px;
    display:inline-block;
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    transform:scale(1.5,1.5); /* W3C */
}

.page > img {
    position: absolute;
    top: 15%;
    left: 35%;
    /* transform: translateX(50%); */
    width: 100%;
    max-width: 650px;
    height: 100%;
    scale: 1;
    z-index: 1;
}

.hero-text {
    position: relative;
    top: 25%;
    left: 5%;
    height: 75%;
    width: 45%;
    padding: 40px;
    scale: 1.1;
    /* background-color: #f2f2f2; */
}
.hero-text > h5 {
    color: #ffffff;
    transform: rotate(-20deg);
    position: absolute;
    left: 3%;
    font-size: 18px;
    font-weight: 700;
}
.hero-text > h1 {
    color: #FF9900;
    font-size: 60px;
    line-height: 1.1;
    margin-top: 20px;
}
.hero-text > h4 {
    margin-top: 20px;
    line-height: 1.7;
    color: #bababa;
    font-size: 28px;
    font-weight: 500;
}
.hero-text > h4 > .typewriting-effect {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

/* Animation CSS Code here for Typewriter Effect */


/* The typing effect */
/* @keyframes typewriterEffect {
    from { width: 0 }
    to { width: 100% }
  } */

/* The typewriter cursor effect */
/* @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  } */


.buttons {
    width: 100%;
    display: flex;
    gap: 30px;
    padding-top: 20px;
    /* background-color: #ff0606; */
}
.buttons button:first-child {
    cursor: pointer;
    padding: 15px 25px;
    font-size: 18px;
    background-color: #002994;
    color: aliceblue;
    border: none;
    border-radius: 5px;
}
.buttons button:nth-child(2) {
    cursor: pointer;
    padding: 15px 25px;
    font-size: 18px;
    background-color: #FF9900;
    color: #002994;
    border: none;
    border-radius: 5px;
}



.page1 {
    height: 120vh;
    width: 100vw;
    background-color: #0e0029;
    margin-top: 101px;
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
}

.page1 .about-img {
    position: relative;
    top: 15%;
    left: 10%;
    /* background-color: red; */
    height: 75%;
    width: 40%;
    z-index: 2;
}

.page1 .about-img img {
    position: relative !important;
    max-width: 850px;
    scale: 1 !important;
}

.page1 .about-img .inside-circle-text {
    text-align: center;
    line-height: 2.5rem;
    position: absolute;
    top: 33%;
    left: 48%;
}

.page1 .about-img h3 {
    color: white;
}



/* On screens (my-small-lappy that are 992px or less, set the background color to blue */
@media screen and (max-width: 1268px) {
    
/* hero image */


/* Navigation */
.page > .nav {
    padding: 40px 40px;
    height: 20%;
}
.page > .animated-name-header {
    top: 40%;
}


.page1 {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.page1 .about-img {
    margin-right: 22%;
    margin-left: 0;
}

/* Animated Image - my-IKIGAI */
.page1 .about-img img {
    position: relative;
    align-items: center;
    max-width: 700px;
}

.page1 .about-img .inside-circle-text {
    line-height: 2.1rem;
    position: absolute;
    top: 40%;
    left: 63%;
    font-size: 12px;
}

/* Hero Text here */
.hero-text {
    top: 55%;
    left: 1%;
    height: 75%;
    width: 100%;
}
.hero-text > h5 {
    font-size: 20px;
}
.hero-text > h1 {
    font-size: 28px;
    margin-top: 22px;
}
.hero-text > h4 {
    margin-top: 20px;
    line-height: 1.3;
    font-size: 18px;
}


}